{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "intro.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body>
    <div class="main">
        <div class="background container-fluid">
            <div class="navbar">
                <a href="#user">introduction</a>
                <a href="#manual">user manual</a>
                <a href="#fudamental"> Typing Fundamentals</a>
            </div>
            <div class="containt text-center">
            <h2>Typing Master </h2>
            <h4>boost your typing speed</h4>
            <p>more details</p>
            <a href="#user"><i class="fa-solid fa-angles-down fa-bounce" ></i></a>
        </div>
        </div>
        <div class="usermanual" id="user">
            <h3>introduction to typing master</h3>
            <div class="twohand">
            <div class="lefthand">
                <img src={% static "Screenshot 2024-03-15 201009.png" %} alt="" srcset="">
            </div>
            <div class="righthand "> <p style="margin-top: 60px ;"> Welcome to Typing Master, your guide on the journey to keyboard proficiency. Whether you're just starting or looking to refine your technique, we're here to support you every step of the way. With our user-friendly interface and learning to type has never been easier. From mastering the home row to conquering complex sentences, our structured curriculum ensures steady progress. Join us as we embark on this typing adventure together. Let's unlock the power of efficient communication, one keystroke at a time. </p></div>
        </div>
        <div class="features" id="manual">
          <h2>user manual</h2>
    <div class="intro">
        <div class="leftbox">
            <img src={% static "New folder/intro.png" %} alt="" srcset="">
        </div>
        <div class="rightbox">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias repellendus quidem obcaecati. Minus dicta cupiditate aliquid omnis. Maxime, obcaecati odit! Natus sequi sunt distinctio, quisquam ab assumenda quos delectus consequatur.
            Voluptate sed tempore expedita numquam nemo. Aspernatur alias culpa reiciendis distinctio similique modi aliquid! Quibusdam ad, sapiente odit, ducimus et veritatis minima similique ullam quidem provident officiis eveniet, amet facere.
            Dignissimos, est. Quo commodi magnam optio ab debitis delectus maxime maiores quae voluptatibus quasi, voluptatem omnis nobis ullam rem! Obcaecati amet debitis, magni voluptas repellendus reiciendis quaerat. Nam, qui saepe.
        </div>
    </div>
    <div class="test">
        <div class="leftbox"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fuga sit dolor aliquam debitis laborum doloremque dicta error. A eligendi at eum ex laboriosam in! Ipsam blanditiis ab iure perspiciatis!
        Nesciunt doloribus alias recusandae modi omnis quo ad est? Voluptate neque explicabo nostrum aliquam quod, illum delectus minus rerum, corporis quibusdam eligendi nobis. Exercitationem sequi molestias eius, commodi eligendi veniam?
        Similique blanditiis, explicabo reprehenderit cumque tenetur quis dolores officiis tempore quod quibusdam nulla minima facilis tempora est expedita veniam fugit aspernatur dicta! Repellendus iste dolorum aliquid ipsam. Quas, magnam iure?</div>
        <div class="rightbox">
            <img src={% static "New folder/test.png" %} alt="" srcset="">
        </div>
    </div>
    <div class="game">
        <div class="leftbox">
            <img src={% static "New folder/game.png" %} alt="" srcset="">
        </div>
        <div class="rightbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eveniet excepturi aperiam sequi quisquam praesentium ullam non repellendus itaque quo, debitis ipsum tempora culpa libero a ex dolore perferendis? Vel!
            Inventore autem praesentium explicabo reprehenderit ut eos et consequatur? Et provident ea dolor repellat, minus at, exercitationem nam, officia porro qui quia voluptatum. Enim amet id mollitia a quod aliquid.
            Culpa iste illo consectetur laboriosam architecto perferendis, facere, quis iusto quam iure, atque recusandae blanditiis. Dolorem, exercitationem voluptatem obcaecati deserunt consectetur et magni provident sapiente. Architecto atque facere in praesentium.
        </div>
    </div>
    <div class="profile">
        <div class="leftbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestias nulla, asperiores blanditiis nemo ipsam autem cupiditate iure quaerat quo qui, nobis reprehenderit nam laboriosam magni in sapiente impedit praesentium?
            Nostrum ut ex, assumenda amet molestiae provident recusandae aliquam, blanditiis alias enim architecto magni quasi, vel incidunt rerum quisquam voluptas cum quia. Corporis, quo! Atque quod quam voluptas ut rem?
            A similique amet consequuntur, mollitia quam cupiditate ab sunt nulla non repellendus minus doloremque dolores eum qui animi sed ea cum, eligendi perspiciatis eos magni nisi pariatur neque! Eum, nihil?
        </div>
        <div class="rightbox">
            <img src={% static "New folder/profile.png" %} alt="" srcset="">
        </div>
    </div>
      </div>
        </div>
        <div class="fudamental " id="fudamental">
            <h3 class="text-center">Typing Fundamentals</h3>
            <div class="onehand">
                <div class="divhand ">
                    <h3 >1 Hunt and peck</h3>
                    <img src={% static "hunt.png" %} alt="" style="width: 50%; "> <p style=" width: 700px;">
                    Although the advantages of the 10 finger-method are perfectly obvious, still many people are hunting and pecking away. Here you are staring at your keyboard until you spot the right key and then hit it with your index finger.

After some years you start using more fingers and you might know the positions of the keys better – however, without a distinct finger-key-combination only a few people can manage „blindly“ and equally fast.</p>
                    </div>
                
                <div class="divhand ">
                    <h3 >2 Basic position for typewriting</h3>
                    <img src={% static "New folder/basic-position.png" %} alt="" style="width: 50%; "> <p style=" width: 700px;">
                        The basic concept of fast typing is quickly explained: Your fingers take up a fixed starting position, from where you can reach any key you need. Your left fingers are placed on the keys A, S, D and F. Your right fingers are on the keys J, K, L and semicolon. Your thumbs are on the space bar. </p>
                </div>
                
                <div class="divhand ">
                    <h3 >3  Fingers and keys</h3>
                    <img src={% static "New folder/keyboard-colors-new3.png" %} alt="" style="width: 50%; "> <p style=" width: 700px;">
                        Each finger has to hit several different keys. On the chart you can see the coloured marks: they show you which finger and which key correlate.
                        Example
                        You want to hit the E. Here’s your left middle finger in charge, which is in the basic position placed on the key D. Reach with your left middle finger to the E and return afterwards to the basic position on the D. </p>
                </div>
                <div class="divhand ">
                    <h3 >4     Objective of the 10 finger method</h3>
                     <p style=" width: 700px;">
                        The objective is to anchor the handling of the keyboard in your subconscious. Our subconscious helps us dealing with more or less complex actions within seconds, almost automatically.
                        
                        Hunting and pecking on the downside consumes unnecessary energy (where’s the next key?). However, the distinct finger-key-combinations help you to focus on the most important thing: the content.</p>
                </div>
                <div class="divhand ">

                    <h3>5 Advantages of learning to type</h3>
                    <img src={% static "New folder/ergonomics.png" %} alt="" style="width: 50%; "> <p style=" width: 700px;">
                        Using the 10 finger-method has several advantages which improve your daily work on your computer.
                        
                        Speed
                        By using the 10 finger-method subconsciously you can increase your typing speed significantly, in other words you will be saving precious time.
                        
                        Efficiency
                        Since you don’t have to focus on hitting single keys any longer, you can concentrate on the texts you’re writing. You don’t have to switch back and forth anymore, your brain gets some relief and can work more efficiently.
                        
                        Ergonomics
                        The permanent eye on the keyboard supports an unhealthy posture at work. Using the 10 finger-method you don’t need to glimpse at your keyboard all the time. This helps you to sit upright and in a good position.</p>
                </div>
            
            </div>

        </div>
        <footer class="mt-4">
            <p>TypingMaster© 2024 TypingMaster by suyash kudu</p>
        </footer>
    </div>
</body>
</html>