{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typing Master</title>
  </head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href={%static "loginstyle.css" %}/>
   
</head>
<body>
    <div class="main">
        <form method="post">
            {%csrf_token%}
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="username" name="username" required>
              
            </div>
            <div class="input-box">
                <input type="password" placeholder="password" name="password" required>
              
                </div>
                <div class="remember">
                   
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit">Log In</button>
                <div class="register-link">
                    <p>Don't have an account?<a
                    href="">Register</a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>