*{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}
.background{
    background:linear-gradient(272deg, rgb(88 89 220 / 52%), rgb(40 130 130 / 54%)), url("./download\ \(3\).jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
div{
    overflow-x: hidden;
}
.containt{
    padding-top: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 29px;
}
.containt h2{
    font-size: 65px;
    color: white;
}
.containt h4{
    font-size: 2rem;
    color: rgb(103, 214, 162);
    font-weight: bold;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none !important;
    color: white !important;
    text-transform: capitalize;
}

.usermanual{
    width: 100vw;
    text-align: center;
    text-transform: capitalize;
}
.twohand{
    display: flex;
    justify-content: space-around;
    margin-top: 19px;
}
.lefthand{
    width: 500px;
}
.righthand{
    width: 600px;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
.lefthand img{
    width: 100%;
}

.leftbox img,.rightbox img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.leftbox,.rightbox{
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.intro,.game,.test,.profile{
    display: flex;
    justify-content: space-around;
}
.onehand{
    display: flex;
    justify-content: space-around;
    margin-top: 19px;
    flex-direction: column;
    align-items: center;
    
}
.divhand p{
    text-align: center;
}
footer{
    background-color: brown;
    height: 30px;
    text-align: center;
    color: white;
}